/* 全局样式 */
/* 全局样式 */
@font-face {
  font-family: 'DIN';
  src: url('../../assets/fonts/D-DIN.ttf');
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  margin: 0 auto;
  font-family: 'PingFang SC';
  font-style: normal;
  font-size: 16px;
  background: #fff;
}
/* 版心 */
.w {
  width: 1200px;
  margin: auto;
}
/* banner部分 */
.productBanner {
  margin-top: 84px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
  background: url('https://lima-cdn.oss-cn-beijing.aliyuncs.com/lima-website/pc/aboutlima/img/about_banner.jpg') no-repeat center;
  background-size: cover;
}
/* 关于力码 */
.about_lima {
  width: 100%;
  background: #F3F5F8;
}
.about {
  overflow: hidden;
  font-family: 'PingFang SC';
}
.about h1 {
  margin: 82px 0 34px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  text-align: left;
  color: #333;
}
.about h5 {
  font-weight: 400;
  font-size: 20px;
  color: #333333;
}
.about p {
  margin: 34px 0 34px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  text-align: justify;
}
.about .pic {
  display: flex;
  justify-content: space-between;
}
.about .pic div {
  margin-top: 40px;
  width: 380px;
  height: 137px;
}
.about .pic .pic_o {
  margin-left: -30px;
  background: url('https://lima-cdn.oss-cn-beijing.aliyuncs.com/lima-website/pc/aboutlima/img/about1.png') no-repeat center;
  background-size: cover;
}
.about .pic  .pic_s {
  background: url('https://lima-cdn.oss-cn-beijing.aliyuncs.com/lima-website/pc/aboutlima/img/about2.png') no-repeat center;
  background-size: cover;
}
.about .pic  .pic_t {
  margin-right: -30px;
  background: url('https://lima-cdn.oss-cn-beijing.aliyuncs.com/lima-website/pc/aboutlima/img/about3.png') no-repeat center;
  background-size: cover;
}
.product {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
}
.product .product_word {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.product .product_word h1 {
  margin: 0px 0 40px;
  font-weight: 400;
  font-size: 36px;
  color: #000000;
  text-align: left;
  font-family: 'PingFang SC';
}
.product .product_word h4 {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  color: #333333;
  text-align: justify;
  font-family: 'PingFang SC';
}
.product .product_word h4 em {
  font-style: normal;
  font-family: 'PingFang SC';
  font-weight: 600;
}
.product img {
  margin-right: -40px;
  width: 50%;
}
/* 大事记 */
.big {
  padding: 106px 0;
  width: 100%;
  background-color: #F3F5F8;
}
.big .record {
  overflow: hidden;
  font-family: 'PingFang SC';
}
.big .record h1 {
  margin: 0px 0 40px;
  font-weight: 400;
  font-size: 36px;
  text-align: left;
  color: #333333;
}
.big .record .record_time {
  display: flex;
  justify-content: space-between;
}
.big .record .record_time .father_div {
  width: 370px;
}
.record_box {
  margin-top: 30px;
  border-radius: 8px;
}
.record_box .record_top {
  padding: 11px 10px 2px 20px;
  /* box-sizing:content-box; */
  box-sizing:border-box;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 0 0;
  background: linear-gradient(90deg, #E4E8EC 3.75%, rgba(228, 232, 236, 0) 96.75%);
}
.record_box .record_top span:first-child {
  /* margin: 11px 0 5px 20px; */
  font-family: 'DIN';
  font-weight: 700;
  font-size: 48px;
  color: #333333;
}
.record_box .record_top span:last-child {
  /* margin: 11px 10px 5px 0; */
  width: 44px;
  height: 20px;
  background: url('https://lima-cdn.oss-cn-beijing.aliyuncs.com/lima-website/pc/aboutlima/img/icon.png') no-repeat center;
  background-size: contain;
}
.record_box .record_bottom {
  box-sizing:border-box;
  padding: 20px 10px 20px 20px;
  border-radius: 0 0 8px 8px;
  background-color: #FFFFFF;
}
.record_bottom .record_bottom_span {
  height: 45px;
  display: flex;
  justify-content: space-between;
}
.record_bottom .record_bottom_span span:first-child {
  font-family: 'PingFang SC';
  flex: 1.5;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
.record_bottom .record_bottom_span span:last-child {
  font-family: 'PingFang SC';
  flex: 8.5;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}






/* 底栏部分 */
footer {
  margin-top: 130px;
  height: 373px;
  background: #F3F5F8;
}
.boxTop{
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 1198px;
  height: 288px;
}
.rowStyle {
  margin: 56px 0 24px;
  width: 400px;
  height: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #333333;
}
.cooperation span,
.contact span {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #666666;
}
.code .footicon {
  margin-top: 56px;
}
.code .footicon img {
  width: 40px;
  height: 40px;
}
.code .footicon img:first-child {
  margin: 0 85px 0 35px;
}
.code .ercode {
  position: relative;
  top: 15px;
  left: 0;
}
.code .ercode img {
  width: 90px;
  height: 90px;
  border: 5px solid #FFFFFF;
}
.code .ercode img:first-child {
  margin: 0 28px 0 0;
}
.ercode div {
  width: 0;
  height: 0;
  border: 7px solid;
  border-color: transparent transparent #FFFFFF;
}
.ercode .arrow1 {
  position: absolute;
  top: -14px;
  left: 45px;
}
.ercode .arrow2 {
  position: absolute;
  top: -14px;
  left: 175px;
}
footer hr {
  height: 1px;
  background-color: #EAEAEA;
  border: none;
}
.boxBottom {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 1198px;
  height: 85px;
  text-align: center;
}
.boxBottom p {
  display: inline-block;
  margin-top: 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #999999;
}
.switchTab .tab_con .tab_con_one {
  display: none;
}
.switchTab .tab_con .tab_con_one:first-child {
  display: block;
}

